<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geer.snowboard_lesson_booking.mapper.InstructorProfileMapper">

    <insert id="insert">
        INSERT INTO instructor_profiles
            (user_id, avatar_url, bio, id_card_url, teaching_content, experience_years)
        VALUES
            (#{userId}, #{avatarUrl}, #{idCardUrl},#{bio},#{teachingContent}, #{experienceYears})
    </insert>
    <update id="update" parameterType="com.geer.snowboard_lesson_booking.entity.InstructorProfile">
        UPDATE instructor_profiles
        <set>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="experienceYears != null">experience_years = #{experienceYears},</if>
            <if test="bio != null">bio = #{bio},</if>
            <if test="teachingContent != null">teaching_content = #{teachingContent},</if>
        </set>
        WHERE user_id = #{userId}
    </update>
</mapper>