<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geer.snowboard_lesson_booking.mapper.LessonTemplateMapper">
    <insert id="insert">
        INSERT INTO lesson_templates (instructor_id, title, description, status)
        VALUES (#{instructorId}, #{title}, #{description}, 'ACTIVE')
    </insert>
</mapper>