spring:
  config:
    activate:
      on-profile: dev

  jpa:
    hibernate:
      ddl-auto: update    # 开发时常用，根据实体自动更新表结构，或使用 create-drop
    show-sql: true # 开发时方便查看执行的SQL
    properties:
      hibernate:
        format_sql: true


custom:
  mail:
    sender: snowboardgeer@gmail.com
  host-link: http://localhost:8080
snowboard:
  driver-class-name: com.mysql.cj.jdbc.Driver
  host: localhost
  port: 3306
  database: ski_booking_db
  username: root
  password: root
mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: com.geer.snowboard_lesson_booking.entity
  configuration:
    map-underscore-to-camel-case: true


logging:
  level:
    org.springframework: INFO
    com.geer: DEBUG # 将 com.yourpackage 替换为你的项目包名，方便查看debug日志
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE